/* general styles */
*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Familjen Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

main {
  padding: 0% 15%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  main {
    padding: 0% 5%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    padding: 0% 8%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    padding: 0% 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  main {
    padding: 0% 12%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    padding: 0% 18%;
  }
}

.primary-text-color {
  color: #041a40;
}

.secondary-text-color {
  color: #616161;
}

.title-text {
  font-size: 1.7em;
  font-weight: 600;
}

.job-title-text {
  font-size: 1.5em;
  font-weight: 600;
}

.sub-title-text {
  font-size: 1em;
}

.paragraph-title {
  font-size: 1.25em;
  color: #434343;
  font-weight: 600;
}

.description-text {
  font-size: 1em;
}

.form-text {
  color: #616161;
  font-size: 1em;
  width: 50%;
}

.pronouns-text {
  color: #434343;
  font-size: 1em;
}

.job-sub-category-text {
  font-size: 1.25em;
  color: #434343;
  font-weight: 600;
}

.job-title {
  color: #434343;
  font-size: 1.25em;
  font-weight: 500;
}

.job-sub-title {
  font-size: 0.87em;
  color: #616161;
  font-weight: 400;
}

.form-check-label {
  color: #434343;
}

@media (max-width: 767.98px) {
  .paragraph-title {
    font-size: 1.25em;
  }

  .title-text {
    font-size: 22px;
  }

  .sub-title-text {
    font-size: 0.87em;
  }

  .form-text,
  .pronouns-text {
    width: 100%;
    font-size: 0.93em;
  }

  .privacy-policy-text {
    font-size: 0.93em;
  }

  .job-sub-category-text {
    font-size: 1em;
  }

  .fillter-dropdown {
    width: 100% !important;
  }

  .job-title {
    font-size: 1em;
  }

  .job-sub-title {
    font-size: 0.87em;
  }

  .description-text {
    font-size: 0.89em;
  }
}

@media (max-width: 767px) {
  .fillter-dropdown {
    width: 100% !important;
  }
}

/* logo button styles */
.logo-btn {
  background-color: transparent;
}

/* dropdown styles */
.dropdown-btn {
  border: 1px solid #61616180;
  background-color: #ffffff;
  width: Fixed (167px) px;
  padding: 10px 18px 10px 18px;
  color: #616161;
}

.fillter-dropdown {
  width: 75%;
}

/* Navbar */
.navbar {
  z-index: 1000;
  background-color: #fff;
  border-radius: 50px;
  width: max-content;
  box-shadow: 0 4px 16px 0 #00000015;
  margin: 15px auto;
  padding: 0;
}

.navbar .nav-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button.hidden {
  display: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navbar li {
  padding: 4px 10px;
  color: #111f3c;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.navbar li:hover {
  /* background-color: #F4F4F4; */
  cursor: pointer;
}

.navbar li.active {
  /* background-color: #111F3C;  */
  color: #fff;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111f3c;
  transition: left 0.3s ease, width 0.3s ease;
  left: var(--nav-left, 0);
  width: var(--nav-width, 0);
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .header-logo {
    display: none;
  }
}

/* mobile navbar */
.mobile-navbar {
  background-color: #111f3c;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 25px;
  top: 15px;
  z-index: 1000;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

.header-link {
  color: white;
  font-size: 18px;
}

.header-link:hover {
  color: #ec7100;
}

/* apply for job button */
.apply-job-btn {
  border: none;
  color: #fff;
  background: #041a40;
  background-size: 100% auto;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
}

.apply-job-btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #041a40;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* forms styles */
.form-control:focus {
  outline: none;
  border: 1px solid #d9d9d9;
  box-shadow: none;
}

label {
  color: #434343;
}

/* jobs card styles */
.job-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  background: #f8faff;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 55px 10px 20px 10px;
}

footer p {
  margin-bottom: 0px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  /* font-weight: 300; */
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  /* font-weight: 300 !important; */
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  /* font-weight: 300 !important; */
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  .second-navbar ul {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 390px) {
  .playStore-btn {
    flex-direction: column;
  }
  .playStore-btn .appstore-button {
    margin-top: 10px;
  }
}
